doctype html
html(lang='en')
   head
      meta(charset='UTF-8')
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      link(rel='stylesheet', href='/css/style.css')
      title Document
   body
      #navbar
         div
            a(href='/') HM Services
         nav
            a(href='our_services') Services
            a(href='contact_us') Contact
      #contact
         p 
            | contactez nous au :
            br 
            | +221 77 871 90 46 