doctype html
html(lang='en')
   head
      meta(charset='UTF-8')
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      link(rel='stylesheet', href='/css/style.css')
      title Document
   body
      #navbar
         div
            a(href='/') HM Services
         nav
            a(href='our_services') Services
            a(href='contact_us') Contact
      #content
         h1 Bienvenue sur notre plateforme multiservices
         p
            | Nous sommes ravis de vous accueillir dans notre univers.
            br
            | Vous êtes intéressé par la tech ? Laissez-vous guider par notre plateforme vers le monde du Digital et découvrer tous nos services allant de la formation aux prestations de services
            br
            br
            | N'hésitez pas à parcourir notre site et à découvrir nos offres et promotions du moment.

      